.summery-tab{
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 4px;
}
.summery-body {
    padding: 10px;
}
.text-header {
    color: #000;
}
.fl-file,.upl-text {
    max-width: 60%;
}
.row-block{
    padding: 5px 0 5px 0;
    display: inline-block;
    width:100%;
}
.link_delete {
    float: left;
    color: red;
    position: absolute;
    right: 60px;
}
.link_delete:hover {
    color: red;
}
.file-upload input[type="file"] {
    cursor: pointer;
    -moz-opacity: 0;
    opacity: 0;
    float: left;
}